@font-face {
  font-family: 'Source Sans 3';
  src: url('https://assets.i.nyris.io/auth0_login_page/SourceSans3/SourceSans3-VariableFont_wght.ttf');
}

* {
  font-family: 'Source Sans 3', sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}

.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
;
  header {
    width: 100%;
    height: 50px;
    padding: 0 24px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 10px;
    }
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .search-bar {
      width: 512px;
      margin: 24px 0;
      .text-search-bar {
        width: 512px;
        height: 48px;
        border-radius: 25px;
        box-shadow: 0 2px 12px rgba(43, 44, 70, .13);
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .image-thumb {
          width: 76px;
          height: 40px;
          border: 2px solid #655EE3;
          background-color: #E4E3FF;
          border-radius: 4px;
          margin-left: 8px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .clear-thumb {
            margin-left: 8px;
            cursor: pointer;
          }
        }
        &-input {
          border: 0;
          flex: 1;
          margin-left: 8px;
          &:active,
          &:focus,
          &:focus-visible {
            border: 0;
            outline: none;
          }
        }
        .ask-vizo {
          width: 96px;
          height: 48px;
          display: flex;
          border-radius: 25px 0 0 25px;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          box-sizing: border-box;
          border: none;
          border-right: 1px solid #e0e0e0;
          background-color: #FFF;
          cursor: pointer;
        }
        .clear-icon {
          cursor: pointer;
        }
        .camera-icon {
          width: 48px;
          height: 48px;
          display: flex;
          border-radius: 0 25px 25px 0;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          box-sizing: border-box;
          border: none;
          background-color: #FFF;
          cursor: pointer;
        }
      }
    }
    .drag-n-drop {
      margin: 24px 0;
      border-radius: 2px;
      border: 1px dashed #CACAD1;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 512px;
      height: 136px;
      &:hover,
      &.active-drop {
        background-color: rgba(#12171f, 0.06);
      }
      &-text {
        margin-top: 12px;
        color: #55566B;
      }
    }
    .help-buttons {
      width: 512px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button {
        width: 230px;
        height: 30px;
        background-color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        border: 0;
        cursor: pointer;
        border-radius: 50px;
      }
    }
    .results {
      width: 100%;
      height: calc(100vh - 82px);
      display: flex;
      flex-direction: row;
      .side-panel {
        width: 320px;
        height: 100%;
        border-right: 1px solid #E0E0E0;
        display: flex;
        flex-direction: column;
        .preview-container {
          width: 255px;
          height: 255px;
          margin: 24px auto;
        }
        .prefilters {
          width: 100%;
          flex: 1;
          overflow: scroll;
        }
      }
      .results-main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-container {
        width: 850px;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        overflow: scroll;
        .result-tile {
          width: 192px;
          height: 345px;
          display: flex;
          flex-direction: column;
          border: 1px solid #E0E0E0;
          border-radius: 4px;
          box-shadow: 0 0 16px 0 #E0E0E0CC;
          image {
            width: 192px;
            &:hover {
              transform: scale(1.1);
            }
          }
          &-info {
            padding: 8px;
          }
          &-title {
            font-size: 12px;
            font-weight: 700;
            line-height: 17.09px;
            letter-spacing: 0.22857144474983215px;
            word-break: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &-sku {
            font-size: 10px;
            font-weight: 400;
            line-height: 14.24px;
            letter-spacing: 0.22857144474983215px;
          }
          &-brand {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.22857144474983215px;
            padding: 2px 8px;
            border-radius: 2px;
            background-color: #E9E9EC;
            margin: 4px 0;
          }
          .cta-button {
            width: 176px;
            padding: 6px 8px 6px 8px;
            border: 0;
            border-radius: 2px;
            background-color: #3E36DC;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            letter-spacing: 0.22857144474983215px;
            color: #fff;
            margin-bottom: 16px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E0E0E0;
    &:hover {
      background-color: #f0efff;
      a {
        color: #3E36DC;
        strong {
          background: linear-gradient(0.25turn, #3E36DC, #E31B5D);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    a {
      text-decoration: none;
      color: #2B2C46;
      font-size: 10px;
    }
  }
}

.custom-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &-body {
    position: relative;
    width: 800px;
    height: 480px;
    background-color: #F3F3F5;
    padding: 32px 16px;
    .close-icon {
      top: 8px;
      right: 8px;
      position: absolute;
    }
    &-content {
      width: 100%;
      height: 394px;
      .selected-prefilters {
        min-height: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        margin: 8px 0;
        &-item {
          background-color: #E4E3FF;
          padding: 4px 8px;
          border-radius: 25px;
          color: #3E36DC;
          display: flex;flex-direction: row;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }
      .prefilters {
        width: 100%;
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .item-prefilter {
          width: 380px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .layout {
    height: 100vh;
  }
}