.psol-comp-viewbase-iconbutton-44 {

  width: 32px;
  height: 32px;
  .psol-comp-viewbase-svgicon {
    width: 16px;
    height: 16px;
  }
}

.psol-comp-webviewer3d-copyright-container {
  a {
    font-size: 10px !important; 
    color: #55566B !important;
  }
}
.psol-comp-webviewer3d-copyright-container {
  margin-bottom: -2px;
}

.ComponentCustomizeWebViewer3DFavoriteButtonsBarContainer{
  padding-bottom: 6px;
}

.LoadingSpinner {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout-main-newVersion {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .box-header-newVersion-main {
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #E0E0E0;

    .box-content {
      max-width: 1280px;
      margin: auto;
      height: 100%;
      justify-content: space-between;
      align-items: center;
    
    }
  }
  .box-body-newVersion-wrap-main {
    height: calc(100% - 50px);
    // overflow: auto;
  }
}

.d-none {
  display: none;
}