@font-face {
  font-family: 'Source Sans 3';
  src: url('https://assets.i.nyris.io/auth0_login_page/SourceSans3/SourceSans3-VariableFont_wght.ttf');
}

.nyris__hello {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans 3';
  &-wrapper {
    width: 100%;
    padding: 0 24px 0 24px;
  }

  &-drop-zone {
    @include flex-column-center();

    padding: 24px 16px;
    gap: 24px;
    align-self: stretch;
    border-radius: 2px;
    border: 1px dashed #CACAD1;
    cursor: pointer;

    &:hover {
      background-color: $color-hello-dropzone-background;

    }
    &-bold-text {
      color: #55566B;
      font-weight: 700;
    }

  }

  &-upload {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 2px;
    background: linear-gradient(90deg, #3E36DC 0%, #655EE3 100%);
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;

  }

  &-browse {
    cursor: pointer;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 2px;
    background: #E4E3FF;
    color: #3E36DC;

    font-size: 14px;
    margin-bottom: 16px;

  }

  // hidden file input
  input[type=file] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }
}

