
.nyris__hello {
  &-drop-zone {
    @include flex-column-center();
    @include flex-filler();
    background-color: $color-hello-dropzone-background;
    border-radius: 7px;
    border: 1px solid $color-box-border;
    font-weight: bold;
    color: $color-hello-dropzone-text;

    & > svg {
      margin: 7px;
    }
  }

  &-upload {
    cursor: pointer;
  }

  // hidden file input
  input[type=file] {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }
}

