.inquiry-modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F5;
  max-height: 87%;
  height: 87%;
  &-header {
    width: 346px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 16px;
  }
  &-info {
    overflow-y: auto;
    padding: 0 16px 78px 16px;
  }
  &-image {
    border-radius: 8px;
    max-width: 346px;
    margin: 16px auto;
    background-color: #fff;
  }
  &-input {
    width: 346px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px auto;
    font-weight: 700;
    input, textarea {
      width: 346px;
      background-color: #fff;
      border: 0;
      margin-top: 8px;
    }
    input {
      height: 32px;
      padding: 0 8px;
      &:active,
      &:focus {
        border: 0;
        outline: 0;
      }
    }
    textarea {
      resize: none;
      height: 66px;
      padding: 8px;
      font-family: 'Source Sans 3', sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      &:active,
      &:focus {
        border: 0;
        outline: 0;
      }
    }
    &-prefilters-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
    }
    &-prefilters {
      padding: 4px 8px;
      font-weight: 400;
      font-size: 12px;
      border-radius: 4px;
    }
    .no-prefilters {
      width: 100%;
      font-weight: 400;
    }
    .full {
      color: #E31B5D;
    }
  }
  &-buttons {
    width: 100%;
    height: 66px;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    &-cancel {
      flex: 1;
      background-color: #2B2C46;
      color: #fff;
      border: 0;
    }
    &-apply {
      flex: 1;
      color: #aaabb5;
      background-color: #e9e9ec;
      border: 0;
      &.active {
        background-color: #3E36DC;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}