@font-face {
  font-family: 'Source Sans 3';
  src: url('https://assets.i.nyris.io/auth0_login_page/SourceSans3/SourceSans3-VariableFont_wght.ttf');
}

@import 'settings';
@import 'mixins';

#nyris-mount-point {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: 'Source Sans 3';
  font-size: $fs-base;
  z-index: 10000;
}

.nyris {
  &__icon {
    @include inline-flex-center();
    @include circle(64px);
    margin: 25px 25px;
    border: 1px solid $color-icon-border;
    background-color: $color-background;
    box-shadow: $shadow;
    cursor: pointer;

    &-text {
      @include inline-flex-center();
      @include rounded-rect(168px, 36px, 18px);
      position: absolute;
      top: -20px;
      right: 25px;
      font-weight: bold;
      border: 1px solid $color-icon-border;
      background-color: $color-background;
      box-shadow: $shadow;
    }
  }

  &__background {
    @include flex-column-spread();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189, 0.50);

  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    min-height: 40px;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
    &-language {
      margin-right: 18px;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-label {
        height: 32px;
        background-color: #F3F3F5;
        padding: 0 8px;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 2px;
        border: 2px solid transparent;
        &.open {
          color: #CACAD1;
          border-color: #3E36DC;
        }
        svg {
          margin-left: 8px;
        }
      }
      &-list {
        position: absolute;
        top: 36px;
        width: 100px;
        left: 0;
        background-color: #fff;
        z-index: 9;
        &-item {
          height: 25px;
          border-radius: 2px;
          font-family: 'Source Sans 3', sans-serif;
          font-size: 12px;
          font-weight: 600;
          padding: 4px 8px;
          box-sizing: border-box;
          &:hover {
            background-color: #E9E9EC;
            color: #3E36DC;
          }
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;

    @media #{$desktop-query} {
      max-width: 450px;
      margin-top: auto;
      margin-left: auto;
      box-shadow: $shadow;


    }

  }

  &__main {
    @include flex-column-spread();
    padding: 0 24px 0px 24px;
    height: 100vh;
    overflow: hidden;

    @media #{$mobile-query} {
      padding: 0px 15px 0px 15px;

    }

    &-heading {
      margin-left: 8px;
      margin-bottom: 8px;
      font-size: 20px;
      color: $color-heading;
      font-weight: 700;
      &--big {
        font-size: 44px;
      }
    }

    &-description {
      font-size: 14px;
      color: $color-text;
      font-weight: 400;
      background-color: #F3F3F5;
      padding: 8px 16px 8px 16px;
    }

    &-content {
      @include flex-column-center();
      @include flex-filler();
      width: 100%;
      font-weight: 400;
      height: calc(100% - 30px);
      @media #{$mobile-query} {
        &--desktop {
          display: none;
        }

        &--mobile {
          display: flex;

          &.col {
            flex-direction: row;
            gap: 16px;
            justify-content: space-between;
          }
        }
      }

      @media #{$desktop-query} {
        &--desktop {
          display: flex;
        }

        &--mobile {
          display: none;
        }
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;


    // @media #{$mobile-query} {
    //   margin-bottom: 100px;
    //   margin-top: 25%;

    // }
  }

  &__close {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    & > svg{
      margin-top: 1px;
    }

    &-text {
      display: none;
      margin-right: 10px;
    }

    &-dark {
      display: block;
    }
    &-light {
      display: none;
    }


    &:hover {
      background-color: lighten($color-button-dark, 20%);
    }

    @media #{$desktop-query} {
      border: 1px solid $color-box-border;
      box-shadow: $shadow;
      background-color: $color-button-dark;
      color: $color-button-text;
      @include rounded-rect(90px, 36px, 18px);
      top: 0;
      right: 0;
      &-text {
        display: inline-block;
      }

      &-dark {
        display: none;
      }
      &-light {
        display: block;
      }
    }
  }

  &__button {
    &-accept {
      @include flex-center();
      width: 320px;
      margin-top: 24px;
      padding: 12px 0 12px 0;
      background: linear-gradient(90deg, #3E36DC 0%, #655EE3 100%);
      border-radius: 2px;
      color: #fff;
      gap: 16px;
      font-size: 14px;
      cursor: pointer;
    }

    &-new-search {
      @include flex-center();
      width: 318px;
      margin-top: 24px;
      padding: 12px 0 12px 0;
      border-radius: 2px;
      border: 1px solid $color-primary;
      color: $color-primary;
      gap: 16px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &--purple {
    color: #3023ae;
  }

  &__custom-modal {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(22, 22, 22, 0.5);
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media #{$desktop-query} {
      width: 450px;
    }

    &-body {
      position: relative;
      width: 376px;
      border-radius: 8px;
      background-color: #FFF;
      padding-top: 8px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      .close-icon {
        top: 16px;
        right: 16px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
      }
      &-info {
        padding: 16px;
        background-color: #FAFAFA;
        border-radius: 0 0 8px 8px;
        &-title {
          font-family: 'Source Sans 3', sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 22.78px;
          letter-spacing: 0.22857144474983215px;
          text-align: left;
          margin-left: 6px;
        }
        &-sku {
          font-family: 'Source Sans 3', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 19.94px;
          letter-spacing: 0.22857144474983215px;
          text-align: left;
          margin-bottom: 8px;
          margin-left: 6px;
        }
        .nyris__product-cta {
          height: 34px;
          box-sizing: border-box;
          .nyris__product-button {
            font-family: 'Source Sans 3', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.22857144474983215px;
            text-align: left;
          }
        }
      }
    }
  }
}

.nyris__footer {
  color: #AAABB5;
  @include flex-center();

  font-size: $fs-base;

  & a {
    font-weight: 400;
    font-size: 10px;
    text-decoration: none;
    color: #AAABB5;
    &:hover {
      color: $color-footer-link-hover;
    }

  }

  &-logo {
    font-size: 10px;
    font-weight: 700;

  }
}

.nyris__fail {
  height: 100%;
  display: flex;
  flex-direction: column;


  &-content {
    @include flex-filler();
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0 0;

    @media #{$mobile-query} {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: flex;
      }
    }

    @media #{$desktop-query} {
      &--desktop {
        display: flex;
      }

      &--mobile {
        display: none;
      }
    }
  }

  & .nyris__button {
    margin: 6px;
  }

  & a {
    font-weight: bold;
    line-height: 20px;
    color: $color-text;
    text-decoration: none;

    &.nyris__button {
      color: $color-button-text;

      &:hover {
        color: $color-button-text;
      }
    }

    &.nyris__button--ghost {
      color: $color-primary;
      margin-top: 60px;

      &:hover {
        color: $color-primary;
      }
    }

    &:hover {
      color: $color-text;
      text-decoration: none;
    }
  }
}

@import 'hello';
@import 'reselect';
@import 'result';
@import 'success-single';
@import 'wait';
@import 'feedback';
@import 'modal.scss';
@import 'post-filter.scss';
