@import url('https://fonts.googleapis.com/css?family=Asap');

@import 'settings';
@import 'mixins';

#nyris-mount-point {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: 'Asap', sans-serif;
  font-size: $fs-base;
  z-index: 10000;	
}

.nyris {
  &__icon {
    @include inline-flex-center();
    @include circle(64px);
    margin: 25px 25px;
    border: 1px solid $color-icon-border;
    background-color: $color-background;
    box-shadow: $shadow;
    cursor: pointer;
    
    &-text {
      @include inline-flex-center();
      @include rounded-rect(168px, 36px, 18px);
      position: absolute;
      top: -20px;
      right: 25px;
      font-weight: bold;
      border: 1px solid $color-icon-border;
      background-color: $color-background;
      box-shadow: $shadow;
    }
  }

  &__background {
    @include flex-column-spread();
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189, 0.50);

  }

  &__header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    min-height: 40px;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow-y: auto;

    @media #{$desktop-query} {
      max-width: 480px;
      margin-top: auto;
      margin-left: auto;
      box-shadow: $shadow;

     
    }

  }

  &__main {
    @include flex-column-spread();
    padding: 0px 24px 18px 24px;
    overflow-y: auto;
    height: 100%;

    // @media #{$mobile-query} {
    //   padding: 0px 15px 18px 15px;

    // }
        
    &-heading {
      margin-left: 8px;
      margin-bottom: 5px;
      font-size: 20px;
      letter-spacing: 0.34px;
      color: $color-heading;
      font-weight: 700;
      &--big { 
        font-size: 44px;
      }
    }
    
    &-description {
      margin-left: 8px;
      font-size: 14px;
      letter-spacing: 0.28px;
      color: $color-text;
    }

    &-content {
      @include flex-column-center();
      @include flex-filler();
      width: 100%;
      margin: 10px 0 0;

      @media #{$mobile-query} {
        &--desktop {
          display: none;
        }

        &--mobile {
          display: flex;
        }
      }

      @media #{$desktop-query} {
        &--desktop {
          display: flex;
        }

        &--mobile {
          display: none;
        }
      }
    }
  }

  &__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 40%;

    
    @media #{$mobile-query} {
      margin-bottom: 100px;
      margin-top: 25%;

    }
  }

  &__close {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    & > svg{
      margin-top: 1px;
    }
    
    &-text {
      display: none;
      margin-right: 10px;
    }

    &-dark {
      display: block;
    }
    &-light {
      display: none;
    }


    &:hover {
      background-color: lighten($color-button-dark, 20%);
    }

    @media #{$desktop-query} {
      border: 1px solid $color-box-border;
      box-shadow: $shadow;
      background-color: $color-button-dark;
      color: $color-button-text;
      @include rounded-rect(90px, 36px, 18px);
      top: 0px;
      right: 0px;
      &-text {
        display: inline-block;
      }

      &-dark {
        display: none;
      }
      &-light {
        display: block;
      }
    }
  }
  
  &__button {
    &-accept {
      @include flex-center();
      width: 320px;
      margin-top: 24px;
      padding: 12px 0px 12px 0px;
      background: linear-gradient(90deg, #3E36DC 0%, #655EE3 100%);
      border-radius: 2px;
      color: #fff;
      gap: 16px;
      font-size: 14px;
      cursor: pointer;
    }

    &-new-search {
      @include flex-center();
      width: 318px;
      margin-top: 24px;
      padding: 12px 0px 12px 0px;
      border-radius: 2px;
      border: 1px solid $color-primary;
      color: $color-primary;
      gap: 16px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &--purple {
    color: #3023ae;
  }
}

.nyris__footer {
  color: #AAABB5;
  @include flex-center();

  font-size: $fs-footer;
  letter-spacing: 0.21px;
  
  & a {
    text-decoration: none;
    color: $color-footer-link;
      &:hover {
      color: $color-footer-link-hover;
    }
    font-weight: 500;

  }

  &-logo {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.8px;

  }
}

.nyris__fail {
  height: 100%;
  display: flex;
  flex-direction: column;

  
  &-content {
    @include flex-filler();
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0 0;

    @media #{$mobile-query} {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: flex;
      }
    }

    @media #{$desktop-query} {
      &--desktop {
        display: flex;
      }

      &--mobile {
        display: none;
      }
    }
  }

  & .nyris__main-description {
    margin-top: -14px;
  }

  & .nyris__button {
    margin: 6px;
  }

  & a {
    font-weight: bold;
    letter-spacing: 0.28px;
    line-height: 20px;
    color: $color-text;
    text-decoration: none;

    &.nyris__button {
      color: $color-button-text;

      &:hover {
        color: $color-button-text;
      }
    }

    &.nyris__button--ghost {
      color: $color-primary;
      margin-top: 60px;

      &:hover {
        color: $color-primary;
      }
    }

    &:hover {
      color: $color-text;
      text-decoration: none;
    }
  }
}

@import 'hello';
@import 'reselect';
@import 'success-multiple';
@import 'success-single';
@import 'wait';
