.nyris__reselect {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-image {
    max-width: 100%;
    width: auto;
    max-height: 270px;
  }

  
  &-image-wrapper {
    width: 320px;
  }


}