.nyris__success-multiple {
  flex-grow: 1;

  & .nyris__main-content {
    padding-bottom: 18px;
  }

  &-summary {
    @include flex-center();
    @include transparent-dark(0.26);
    align-self: stretch;
    flex-shrink: 0;
    height: 48px;
    margin: 15px 0;
    padding: 0 4px;
    border-radius: 5px;

    
  }

  &-thumb {
    @include rounded-rect(40px, 40px, 3px);
    background-position: center center;
    background-size: cover;
  }

  &-desc {
    flex-grow: 1;

    & > div {
      margin: 0 5px;
    }
  }

  &-name {
    font-weight: bold;
  }

  &-refine.nyris__button {
    @include rounded-rect(100px, 36px, 18px);
    margin: 0 2px;

    & > span {
      margin-right: 13px;
    }

    & > svg {
      top: 10px;
    }
  }

  &-result-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex-grow: 1;
    overflow-y: auto;
    justify-content: space-between;
    @media #{$desktop-query} {
      padding-top: 0;
      row-gap: 18px;
    }

    @media #{$mobile-query} {
      row-gap: 12px;
      padding: 0 0 0 0;

    }
  }

  &-result {
    position: relative;
    max-width: 192px;
    width: 48%;
    &-box {
      border-radius: 2px;
      border: 1px solid #E0E0E0;
      box-shadow: 0 0 6px 0 #E0E0E0;

    }

  }


  &-product-panel {
    display: flex;
    padding: 4px 8px 12px 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 77px;
    align-self: stretch;
    background: #F3F3F5;
  }

  &-product-arrow {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    margin: 2px;
    height: 38px;
    width: 42px;
    text-align: right;
    display:none;
  }

  &-preview {
    position: relative;
    width: 100%;
    border-radius: 2px;
    background: #717380;
    margin: 14px 0 32px 0;

    &-wrapper {
     display: flex;
     justify-content: center;
    }
  }

 

  &-preview-expand {
    box-shadow: 0 0 4px 0 #55566B;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 8px;
    right: 16px;
    border-radius: 100%;
    cursor: pointer;
    @media #{$mobile-query} {
      right: 6px;
    }
  }



  &-preview-collapse {
    box-shadow: 0 0 4px 0 #55566B;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom: 34px;
    right: 16px;
    border-radius: 100%;
    cursor: pointer;
    @media #{$mobile-query} {
      right: 10px;
    }
  }

  &-preview-delete-expand {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 16px;
    @media #{$mobile-query} {
      left: 6px;
    }
    border-radius: 16px;
    cursor: pointer;
    &:hover {
      background-color: #E31B5D;
    
    }
  }

  &-preview-delete-collapse {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 36px;
    left: 16px;
    @media #{$mobile-query} {
      left: 6px;
    }
    border-radius: 16px;
    cursor: pointer;
    &:hover {
      background-color: #E31B5D;
    
    }
  }

  &-camera {
    cursor: pointer;
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: #2B2C46;
    box-shadow: 0 0 8px 0 rgba(85, 86, 107, 0.60);
  }

}

.nyris__product {
  &-title {
    font-weight: 700;
    font-size: 12px;
    color: #2B2C46;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    cursor: pointer;
  }

  &-sku {
    color: black;
    font-size: 10px;
    font-weight: 400;
    padding-left: 8px;
  }

  &-cta {
    display: flex;
    padding: 6px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 2px;
    background: #3E36DC;
    box-shadow: 0 0 6px 0 rgba(170, 171, 181, 0.80);
    cursor: pointer;
    justify-content: space-between;
  }

  &-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
  }


  &-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    & > img {
      max-width: 100%;
      object-fit: contain;
      max-height: 192px;
      height: 192px;
      display: block; /* Remove default image spacing */
      margin: 0 auto; /* Center the image horizontally */

      @media #{$mobile-query} {
        max-height: 173px;
        height: 173px;
      }
    }

  }

  &-similar-search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color:  #F3F3F5;
    border-radius: 100%;
    flex-shrink: 0;
    right: 8px;
    bottom: 8px;
    cursor: pointer;
  }

}

.custom-tooltip {
  position: absolute;
  z-index: 9999;
  background-color: #393939;
  width: max-content;
  min-width: 1.5rem;
  max-width: 13rem;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  color: #ffffff;
  font-family: 'Source Sans 3';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #393939 transparent;
  }
  &.arrow-down {
    &.align-left {
      &::after {
        left: 88%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #393939 transparent transparent transparent;
    }
  }
  &.long {
    max-width: unset;
  }
}