.nyris__wait {
  height: 100%;
  display: flex;
  flex-direction: column;
  
  &-spinner {
    animation: wait 1s infinite linear;
    padding-top: 3px;
  }

  &-wrapper {
    height: 100%;
  }
}

@keyframes wait {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}