.nyris__wait {
  height: 100%;
  display: flex;
  flex-direction: column;
  &-spinner {
    padding: 8px 8px 4px 8px;
    background-color: #E0E0E0;
    border-radius: 100%;
    margin-bottom: 10px;
    & > img {
      animation: wait 2s linear infinite;
    }
  }

  &-wrapper {
    height: 100%;
  }
}

@keyframes wait {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
      transform: translateX(0) rotate(150deg);
  }
  100% {
      transform: translateX(0) rotate(0deg);
  }
}