.app-button {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 2px;
    text-shadow: 1px 1px 3px #000;
    line-height: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0,0.5);
}

.inputfile {
    visibility: hidden;
}

#capture-ui {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 10000;
}

#capture-ui video {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: auto;
}


#capture-ui .searchBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10001;
    left: 50%;
    transform: translateX(-50%);

    color: black;
    background-color: transparent;
    text-transform: uppercase;
    border: 0;
    margin: auto;
    display: block;
    filter: drop-shadow( 1px 1px 5px #000 );

}

#capture-ui .backBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10001;
    color: white;
    background-color: transparent;
    border: 0;

    text-transform: uppercase;
    border-radius: 50%;
    display: block;
    padding: 0;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 5px;
    filter: drop-shadow( 1px 1px 5px #000 );

}

