.full-height {
    height: 100dvh; /* Fallback for browsers that do not support Custom Properties */
  }

  .max-line-1 {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 33px; /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .box-wrap-loading {
    position: fixed;
    background: #00000075;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
  }

  .loadingSpinCT {
    position: absolute;
    width: 104px;
    height: 104px;
  
    // background: #fff;
    border-radius: 100%;
    z-index: 111;
    left: 0;
    right: 0;
    margin: auto;
  
  }

  .loading-spinner {
    animation: spin 3s linear infinite;
  }
  
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



  .rfq-box{
    padding: 24px 40px 24px 40px;
    @media screen and (max-width: 776px) {
      padding: 16px 16px 16px 16px;
    
    }
    @media screen and (max-width: 820px) {
      padding: 16px 16px 16px 16px;
    
    }
    .support-button-wrapper {
      flex-wrap: nowrap;
      @media screen and (max-width: 820px) {
        gap: 8px;
      }
    }
  
    
  }

.psol-comp-webviewer3d-container {
    border-radius: 12px !important;
  }

.psol-comp-viewbase-iconbutton-44 {

    width: 32px !important;
    height: 32px !important;
    .psol-comp-viewbase-svgicon {
      width: 16px !important;
      height: 16px !important;
    }
  }
  
.psol-comp-webviewer3d-copyright-container {
    a {
      font-size: 10px !important; 
      color: #55566B !important;
    }
  }
.psol-comp-webviewer3d-copyright-container {
    margin-bottom: -2px !important;
  }
  
.ComponentCustomizeWebViewer3DFavoriteButtonsBarContainer{
    padding-bottom: 6px !important;
  }
  
.psol-comp-viewbase-svgcontainer{
    display: none !important;
  }

.custom-modal {
  position: absolute;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16161680;
  &-body {
    padding: 32px;
    background: #F3F3F5;
    &.geolocation {
      width: 400px;
      height: 200px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .geolocation-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0;
      }
      button {
        border: 2px solid #3E36DC;
        border-radius: 4px;
        padding: 8px 32px;
        align-self: flex-end;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.16px;
      }
    }
  }
}