.take-photo {
    border-radius: 100%;
    padding: 3px;
    .take-photo-wrapper {    
      border-radius: 100%;
      .outer {
        display: block;
        border-radius: 100%;
        box-shadow: 0 0 40px 0 #DDDEE7;
      }
      .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 260px;
        border-radius: 100%;
        background: linear-gradient(180deg, #FFFFFF 30.73%, #DDDEE7 100%);
      }
    }
  }